@import "variables";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background: url(/assets/images/top_pattern.png);
  background-repeat: repeat-x;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#site-header {
  width: 92%;
  max-width: $body-width;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  height: 70px;
    
  header {
    max-width: 70%;
    float: left;
  }

  nav {
    float: right;
    padding-top: 19px;
    
    ul {
      list-style-type: none;
    }

    li {
      display: inline;
      padding-left: 10px;
    }
  }
}

#content {
  width: 92%;
  max-width: $body-width;
  margin-right: auto;
  margin-left: auto;
  
  overflow: auto;
  padding-bottom: $footer-height;

  @media handeld, only screen and (max-width: 320px) {
    padding-bottom: $footer-height * 1.5;
  }
}

.footnotes {
  font-size: .82em;
  
  li {
    margin: 1em 0px;
  } 
} 

pre {
  padding: 0.7em;
}

// Footer Stuff

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  
  width: 100%;
  height: $footer-height;

  background-color: $footer-background-color;
  color: $footer-text-color;

  a, a:hover {
    color: inherit;
    text-decoration: none;
	}

  @media handheld, only screen and (max-width: 320px) {
    height: $footer-height * 1.5;
  }
}

#footer-content-wrapper {
  width: 92%;
  max-width: $body-width;
  margin: 0 auto;
}

#footer-attributions {
  float: left;
  padding-top: 10px;
    p {
    margin:0; // Having any margins will mess up the footer.
    padding: 0;
  }

   @media handeld, only screen and (max-width: 320px) {
    width: 96%;
    float: none;
    padding-top: 0;
  }
}

#footer-social-stuff {
  float: right;
  text-align: right;
  
  p {
    margin: 0;
    padding: 0;
  }

  #rss-social-button, #twitter-social-button {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;

     @media handeld, only screen and (max-width: 320px) {
      padding-left: 0;
      padding-right: 10px;
      padding-top: 0;
    }
  }

  @media handeld, only screen and (max-width: 320px) {
    float: none;
    width: 96%;
    text-align: left;
    padding-top: 10px;
  }
}

hr {
  background: #333;
  border: 0;
  height: 1px;

  background-image: linear-gradient(left, #ffdcce, $underline-color, #ffdcce);
  background-image: -webkit-linear-gradient(left, #ffdcce, $underline-color, #ffdcce); 
  background-image: -moz-linear-gradient(left, #ffdcce, $underline-color, #ffdcce); 
  background-image: -ms-linear-gradient(left, #ffdcce, $underline-color, #ffdcce); 
  background-image: -o-linear-gradient(left, #ffdcce, $underline-color, #ffdcce); 
}

#post-header-container {
  border-bottom: 3px $underline-color solid;

  h1 {
    margin-bottom: 2px;
  }
}

#more-posts-box {
  border-top: 1px $underline-color dashed;
  padding-bottom: 30px;
  width :100%;

  p {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  h4 {
    margin-top: 7px;
    margin-bottom: 2px;
  }
}

#previous-post-box {
  width: 50%;
  float: left;
  text-align: left;
}

#next-post-box {
  width: 50%;
  float: right;
  text-align: right;
}
