@import "variables";

// Sticky footer stuff (http://www.cssstickyfooter.com)

html {
	height: 100%;
}

body {
	height: 100%;
	background: url(/assets/images/top_pattern.png);
	background-repeat: repeat-x;

	&:before { /* Fix for Opera */ 
		content: "";
		height: 100%;
		float: left;
		width: 0;
		margin-top: -32767px;
	}
}

.wrap {
	min-height: 100%;
}

.main {
	margin-bottom: 0;
	overflow: auto;
	padding-bottom: $footer-height;
}

footer {
	background-color: $footer-background-color;
	height: $footer-height;
	margin-top: -$footer-height; // negative value of footer height
	position: relative;
	clear: both;
	color: $footer-text-color;

	p {
		margin: 0; // necessary hack to get sticky footer working without pushing too far down.
		padding-top: 30px; // use padding instead of margins for above hack
		padding-left: 1em;

	}

	nav {
		visibility: hidden;
		display: none;
	}

	@media handheld, only screen and (max-width: 320px) {
		height: auto; 
		
		nav {
			visibility: visible;
			display: block;
		}
	}
}

.site-header {
	float: left;
}

.site-navigation {
	padding-top: 19px;
	float: right;

	nav {
		ul {
			list-style-type: none;
		}

		li {
			display: inline;
		}
	}

	@media handheld, only screen and (max-width: 320px) {
		visibility: hidden;
		display: none;
	}
}
