.project-icon {
	display: block;
	margin-right: auto;
	margin-left: auto;
   width: 256px;
}

#project-grid {
   width: 100%;
   height: auto;
   text-align: center;
   line-height: 5em;
   .item {
      text-align: center;
      height: 290px;
      display: inline-block;
      width: 256px;
   }

   img {
      display: block;
      width: 100%;
   }
}

#screenshot-carousel {
   border: 1px $underline-color dotted;
   width: 99%;
   height: 320px;
   overflow: scroll;
   overflow-y: hidden;
   -webkit-overflow-scrolling: touch;
   white-space: nowrap;

   .screenshot {
      padding-right: 20px;
      height: 300px;
      display: inline-block;
   }
}

#project-header-links {
   width: 100%;
   text-align: center;
}