@import "variables";

body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 15px;
}

p {
	line-height: 1.5em;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: $link-color-hover;
	}
}

h1{
	small{
		font-style: italic;
		font-weight: normal;
		font-size: .67em;
		color: #999;
	}
}