node_modules
.sass-cache
./static/css/styles.min.css 
public
.DS_Store
Icon
._*
.Spotlight-V100
.Trashes
.bundle
project.sublime-workspace
static/css/styles.min.css
static/images/cute-dog-test-image-2.jpeg
static/css/main.min.css
static/images/mandelbrot-test-image.png