---
layout: default
---

{% for post in paginator.posts %}
<div class="post-link">
	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	<h2><small> {{ post.date | date_to_string }}</small></h2>
	<p>{{ post.excerpt }}</p>
	<p><a href="{{ post.url }}">Read more</a></p>
	<hr>
</div>
{% endfor %}

<div id="post-pagination" class="pagination">

  {% if paginator.next_page %}
    <div id="old-posts">
      <a href="/{{ paginator.next_page_path }}">Older Posts</a>
    </div>
  {% endif %}

	{% if paginator.previous_page %}
		<div id="new-posts">
		  {% if paginator.previous_page == 1 %}
		    <a href="/">Newer Posts</a>
		  {% else %}
		    <a href="/{{ paginator.previous_page_path }}">Newer Posts</a>
		  {% endif %}
		</div>
	{% endif %}

</div>
