<!DOCTYPE html>
{{ template "partials/head.html" . }}

<body>
  {{ template "partials/header.html" . }}
  <article class="paper-card">
    <header id="project-title" class="{{ .Params.project_css_class }}">
      <h1>{{ .Title }}</h1>
      {{ if .Params.version }}<h2>{{ .Params.version }}</h2>{{ end }}
    </header>
    {{ if .Params.screenshots }}
    <div class="image-carousel-thing">
      {{ range .Params.screenshots }}
        <div class="image-container">
          <img src="{{ . }}" />
        </div>
      {{ end }}
    </div>
    {{ .Content }}
    {{ end }}
  </article>
  {{ template "partials/footer.html" . }}
</body>
</html>
