<!----*- engine:go -*--->
<!DOCTYPE html>
{{ template "partials/head.html" . }}

{{ template "partials/header.html" . }}
<main>
  <h1>{{ .Title }}<small class="project-version">&nbsp;{{ .Params.version }}</small></h1>
  <div class="project-links">
    {{ if .Params.web_url }}
      <a href="{{ .Params.web_url }}">Visit</a>
      &nbsp;
    {{ end }}
    {{ if .Params.dl_url }}
      <a href="{{ .Params.dl_url }}">Download</a>
      &nbsp;
    {{ end }}
    {{ if .Params.source_url }}
      <a href="{{ .Params.source_url }}">Source</a>
    {{ end }}
  </div>

  {{ .Content }}

</main>
{{ template "partials/footer.html" . }}
</html>
