<!----*- engine:go -*--->
<!DOCTYPE html>
{{ template "partials/head.html" . }}
{{ template "partials/header.html" . }}

<main>
  <article>
    <header class="article-header">
      <h1>{{ .Title }}</h1>
      <p>ON <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ upper (.Date.Format "January 2, 2006") }}</time></p>
    </header>
  </article>
  {{ .Content }}
  <footer class="article-footer">
    {{ with .Next }}{{ if eq .Type "post" }}
      <div class="previous-post">
        <p><a href="{{ .Permalink }}">&laquo; {{ .Title }}</a></p>
      </div>
    {{ end }}{{ end }}
    {{ with .Prev }}{{ if eq .Type "post" }}
      <div class="next-post">
        <p><a href="{{ .Permalink }}">{{ .Title }} &raquo;</a></p>
      </div>
    {{ end }}{{ end }}
  </footer>
</main>

{{ template "partials/footer.html" . }}
</html>
