<!DOCTYPE html>
{{ template "partials/head.html" . }}
<body>
  {{ template "partials/header.html" . }}
  <div id="content" class="content-margin-wrap">
    <article>
      <header id="post-header">
        <h1>{{ .Title }}</h1>
        <h2><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time></h2>
      </header>

      {{ .Content }}

      <footer id="post-footer">
        <h3>More:</h3>
        {{ if .Next }}
        <div id="previous-post">
          <p><a href="{{ .Next.Permalink }}">&laquo; {{ .Next.Title }}</a></p>
        </div>
        {{ end }}
        {{ if .Prev }}
        <div id="next-post">
          <p><a href="{{ .Prev.Permalink }}">{{ .Prev.Title }} &raquo;</a></p>
        </div>
        {{ end }}
      </footer>
    </article>
  </div>
  {{ template "partials/footer.html" . }}
</body>
</html>
