<!DOCTYPE html>
{{ template "partials/head.html" . }}
<body>
  {{ template "partials/header.html" . }}
  <article class="paper-card" id="main-article">
    <header id="post-header">
      <h1>{{ .Title }}</h1>
      <p><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time></p>
    </header>

    {{ .Content }}

    <footer id="article-footer">
      <div class="clearfix">
        <section id="next-post">
        {{ if .Prev }}
          <p><a href="{{ .Prev.Permalink }}">{{ .Prev.Title }} &raquo;</a></p>
        {{ end }}
        </section>

        <section id="previous-post">
        {{ if .Next }}
          <p><a href="{{ .Next.Permalink }}">&laquo; {{ .Next.Title }}</a></p>
        {{ end }}
        </section>
      </div>
    </footer>
  </article>
  
  {{ template "partials/footer.html" . }}
</body>
</html>
