@import "variables";

body {
  font-family: "Lato", "Helvetica Neue",  "Helvetica", sans-serif;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-size-adjust: 0.5;
}

// Site typography
// The typographic scale used here is a slightly modified version of this:
// http://typecast.com/blog/a-more-modern-scale-for-web-typography
h1 {
  font-size: 2em;
  line-height: 1.5;

  @media (min-width: 43.75em) {
    font-size: 2.5em;
    line-height: 1.5;
  }

  @media (min-width: 56.25em) {
    font-size: 3em;
    line-height: 1.5;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615; // maths

  @media (min-width: 43.75em) {
    font-size: 2em;
    line-height: 1.25;
  }

  @media (min-width: 56.25em) {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;

  @media (min-width: 43.75em) {
    font-size: 1.5em;
    line-height: 1.25;
  }
  
  @media (min-width: 56.25em) {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;

  @media (min-width: 43.75em) {
    line-height: 1.22222222;
  }
}

header#site-header {
  h1 {
    font-size: 4em;
    margin: 0;
    a {
      color: $header-text-color;
    }
    a:hover {
      color: $header-text-color;
    }
  }
}

// Article typography

header#post-header {
  border-bottom: 3px solid #cc772;

  h2 time {
    font-size: 0.68em;
    color: #878787;
    font-style:italic;
  }
}

// Home page typography
article.article-excerpt {
  h1 {
    margin: 0;
  }
  h2  {
    margin: 0;
    & time {
      font-size: 0.67em;
      color: #878787;
      font-style: italic;
    }
  }
}

// Archive Page
section#page-archive {
  ul {
    list-style: none;
  }

  li {
    font-size: 1.4em;
    font-weight: 300;

    time {
      font-size: 0.67em;;
      color: #878787;
      font-style: italic;
    }
  }
}

// General Elements

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $link-color-hover;
  }
}

code {
  font-family: "Source Code Pro", monospace;
  font-size: .85em;
}

blockquote {
	font-style: italic;
}

.footnotes {
  font-size: .82em;
  
  li {
    margin: 1em 0px;
  } 
}
