.project-icon {
	display: block;
	margin-right: auto;
	margin-left: auto;
  width: 256px;
}

#project-grid {
  width: 100%;
  height: auto;
  text-align: center;

  .item {
     text-align: center;
     height: 340px;
     display: inline-block;
     width: 256px;
  }

  img {
      display: block;
      width: 100%;
  }

  @media handheld, only screen and (min-width: 1000px) {
     text-align: default;
  }
}

#project-title {
  h1,
  h2 {
    margin: 0;
  }

  h2 {
    margin-bottom: 1em;
    color: lighten(#000000, 50%);
    font-size: 1.6rem;
  }
}

#project-header-links {
  text-align: center;

  ul {
    list-style: none;
    padding-left: 0;

    font-size: 1.4rem;

    li {
      padding-bottom: 15px;
    }

    li:last-child {
      padding-bottom: 0;
    }
  }
}

#screenshot-carousel {
  border: 1px $underline-color dotted;
  width: 99%;
  height: 350px;
  overflow-x: scroll;
  overflow-y: hidden !important;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;

  .screenshot {
    padding-top: 20px;
     margin-right: 20px;
     height: 300px;
     display: inline-block;
  }
}

.first {
  margin-left: 20px;
}

// Sprite Icons

/* glue: 0.2.8.1 hash: 57b8b49796 */
.sprite-icons-symsteam-icon-256,
.sprite-icons-simplecalc-icon-256,
.sprite-icons-memtester-icon-256,
.sprite-icons-geographyas-icon-256,
.sprite-icons-appcastr-icon-256{background-image:url('/images/projects/icon-spritesheet.png');background-repeat:no-repeat}
.sprite-icons-symsteam-icon-256{background-position:0px 0px;width:256px;height:256px;}
.sprite-icons-simplecalc-icon-256{background-position:-256px 0px;width:256px;height:256px;}
.sprite-icons-memtester-icon-256{background-position:0px -256px;width:256px;height:256px;}
.sprite-icons-geographyas-icon-256{background-position:-256px -256px;width:256px;height:256px;}
.sprite-icons-appcastr-icon-256{background-position:-512px 0px;width:256px;height:256px;}
