html {
  // Needed for sticky footer to work
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 ($site-footer-height + 30); // Needed for sticky footer to work
  background-color: #4a4a4a;
}

.paper-card {
  margin: 20px auto 0;
  box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;

  width: 100%;
  max-width: 960px;

  > * {
    margin-right: auto;
    margin-left: auto;

    width: 92%;
  }
}

img {
  width: 100%;
}
