#site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  background-color: $dark-lime-green;

  width: 100%;
  height: $site-header-height;

  text-align: center;

  h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    margin: 0;

    color: #ffffff;

    a,
    a:hover {
      border: 0;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.site-header-content {
  position: relative;
  z-index: 101;

  margin: 0 auto;

  width: 95%;
  max-width: 960px;
  height: 100%;
}

#hamburger-button {
  position: relative;
  top: 50%;
  float: left;
  transform: translateY(-50%);

  z-index: 102;

  margin: 0 (-$hamburger-button-width) 0 0;
  border: 0;
  background-color: transparent;
  background-image: none;
  padding: 0;

  width: $hamburger-button-width;
  height: 100%;
}

.hamburger-slice {
  display: block;

  margin: auto;
  border-radius: 1px;
  background-color: #ffffff;

  width: 22px;
  height: 3px;
}

.hamburger-slice + .hamburger-slice {
  margin-top: 4px;
}

.headroom {
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}

.headroom--pinned {
  transform: translateY(0);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

