#site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  background-color: $dark-lime-green;

  width: 100%;
  height: $site-header-height;

  text-align: center;

  h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    margin: 0;

    color: #ffffff;

    a,
    a:hover {
      border: 0;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.site-header-content {
  position: relative;
  z-index: 101;

  margin: 0 auto;

  width: 95%;
  max-width: 960px;
  height: 100%;
}

#hamburger-button {
  position: relative;
  top: 50%;
  float: left;
  transform: translateY(-50%);

  z-index: 102;

  margin: 0 (-$hamburger-button-width) 0 0;
  border: 0;
  background-color: transparent;
  background-image: none;
  padding: 0;

  width: $hamburger-button-width;
  height: 100%;
}

.hamburger-slice {
  display: block;

  margin: auto;
  border-radius: 1px;
  background-color: #ffffff;

  width: 22px;
  height: 3px;

  & + & {
    margin-top: 4px;
  }
}

#offscreen-nav {
  position: fixed;
  top: 0;
  left: -30%;

  transition: transform 300ms ease-in-out;
  z-index: 101;
  
  background: $dark-lime-green;

  width: 30%;
  height: 100%;

  text-align: center;

  color: #ffffff;
  transform-origin: left;

  @media handheld, only screen and (max-width: 768px) {
    top: -100%;
    left: 0;
    z-index: 100;

    margin-top: $site-header-height;

    width: 100%;

    transform-origin: top;
  }

  &.visible {
    transform: translateX(100%);

    // Fucking WebKit. The box-shadow HAS to be applied after the element is moved 
    // onscreen otherwise the element will be invisible until the browser repaints. 
    box-shadow: 2px 0 7px rgba(0, 0, 0, 0.3); 

    @media handheld, only screen and (max-width: 768px) {
      transform: translateY(100%);
    }
  }

  a {
    border-color: #ffffff;
    color: #ffffff;
  }
}

#close-nav-button {
  transition: background 250ms linear;

  outline: none;
  border: 0;
  background: none;

  padding-right: 0.4em;

  width: 100%;
    
  text-align: right;
  font-size: 3em;

  &:hover {
    background: darken($dark-lime-green, 7%);
  }

  @media handheld, only screen and (max-width: 768px) {
    display: none;
  }
}

#main-navigation {
  font-size: 2rem;

  > ul {
    margin: 0.5em 0;
    padding-left: 0;

    list-style: none;

    li + li {
      padding-top: 10px;
    }
  }
}
