body {
  font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  font-weight: normal;
  font-size-adjust: 0.5;
}

code {
  font-family: "Fira Mono", monospace;
}

blockquote {
  position: relative;
  background-color: #daecd8;
  font-style: italic;
  padding: 10px 0;

  // This lovely little hack makes the background of the blockquote span 100%
  // of the viewport and then some. To stop the background from spilling over
  // the parent element, the parent's overflow property needs to be hidden.
  // See http://css-tricks.com/full-browser-width-bars/ for the basics.

  &:before,
  &:after {
    content: "";
    position: absolute;
    background: #daecd8;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  &:before {
    right: 100%;
  }

  &:after {
    left: 100%;
  }
}

// The typographic scale used here is a slightly modified version of this:
// http://typecast.com/blog/a-more-modern-scale-for-web-typography

h1 {
  line-height: 1.5;
  font-size: 2em;

  @media (min-width: 43.75em) {
    line-height: 1.5;
    font-size: 2.5em;
  }

  @media (min-width: 56.25em) {
    line-height: 1.5;
    font-size: 3em;
  }
}

h2 {
  line-height: 1.15384615; // maths
  font-size: 1.625em;

  @media (min-width: 43.75em) {
    line-height: 1.25;
    font-size: 2em;
  }

  @media (min-width: 56.25em) {
    line-height: 1.25;
    font-size: 2.25em;
  }
}

h3 {
  line-height: 1.13636364;
  font-size: 1.375em;

  @media (min-width: 43.75em) {
    line-height: 1.25;
    font-size: 1.5em;
  }
  
  @media (min-width: 56.25em) {
    line-height: 1.25;
    font-size: 1.75em;
  }
}

h4 {
  line-height: 1.11111111;
  font-size: 1.125em;

  @media (min-width: 43.75em) {
    line-height: 1.22222222;
  }
}
