$site-header-height: 70px;
$site-footer-height: 100px;
$max-content-width: 960px;

$dark-lime-green: #519548;
$strong-green: #88c425;
$light-lime-green: #daecd8;

$hamburger-button-width: 44px;

$table-even-color: #f2f2f2;
$table-odd-color: #ffffff;
