@import "variables";

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAAAFAgMAAACRNS5xAAAACVBMVEWccySxgijGkS1xfno5AAAAEklEQVQIW2NkQAWheLmMQ1Q1AH/UA1gnduJLAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  margin: 0 0 $footer-height 0;
}

.content-margin-wrap {
  width: 92%;
  margin: 0 auto;
  max-width: $body-width;
}

// Site layout

header#site-header {
  padding: 10px 0;
  text-align: center;
}

nav#site-navigation {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    list-style: none;
    padding-left: 10px;

    &:first-child {
      padding-left: 0;
    }
  }
}

footer#site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  
  width: 100%;
  height: $footer-height;

  background-color: $footer-background-color;
  color: $footer-text-color;

  a, a:hover {
    color: inherit;
    text-decoration: none;
	}
}

div#footer-attributions {
  float: left;
}

div#footer-social-links{
  float: right;
  text-align: right;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    padding-left: 15px;
    &:first-child {
      padding-left: 0;
    }
  }
}

.post-link {
  h2 {
    margin: 0;
  }
}

// Post Layout

header#post-header {
  h1, h2 {
    margin: 0;
  }
}

footer#post-footer {
  border-top: 1px $underline-color dashed;
  width: 100%;
  overflow: hidden;
  padding-bottom: 15px; // Get a bit of clearance from the footer
}

div#previous-post {
  width: 50%;
  float: left;
  text-align: left;
}

div#next-post {
  width: 50%;
  float: right;
  text-align: right;
}

#post-pagination {
  width: 100%;
  overflow: hidden;
  
  #new-posts {
    width: 50%;
    float: right;
    text-align: right;
  }

  #old-posts {
    width: 50%;
    float: left;
  }
}

pre {
  white-space: pre;
  padding: 12px;
  overflow-x: auto;
}

hr {
  background: #333;
  border: 0;
  height: 1px;

  background-image: linear-gradient(left, #ffdcce, $underline-color, #ffdcce);
  background-image: -webkit-linear-gradient(left, #ffdcce, $underline-color, #ffdcce); 
  background-image: -moz-linear-gradient(left, #ffdcce, $underline-color, #ffdcce); 
  background-image: -ms-linear-gradient(left, #ffdcce, $underline-color, #ffdcce); 
  background-image: -o-linear-gradient(left, #ffdcce, $underline-color, #ffdcce); 
}

img.shadow {
  box-shadow: 1px 1px 15px black;
  -webkit-box-shadow: 1px 1px 15px black;
  -moz-box-shadow: 1px 1px 15px black;
}
