@import "variables";

body {
  font-family: "Lato", "Helvetica Neue",  "Helvetica", sans-serif;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
}

// Site typography

header#site-header {
  h1 {
    font-size: 4em;
    margin: 0;
    a {
      color: $header-text-color;
    }
    a:hover {
      color: $header-text-color;
    }
  }
}

// Article typography

header#post-header {
  border-bottom: 3px solid #cc772;

  h2 date {
    font-size: 0.68em;
    color: #878787;
    font-style:italic;
  }
}

// Home page typography

article.article-excerpt {
  h1 {
    margin: 0;
  }
  h2  {
    margin: 0;
    & time {
      font-size: 0.67em;
      color: #878787;
      font-style: italic;
    }
  }
}

// General Elements

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $link-color-hover;
  }
}

code {
  font-family: "Source Code Pro", monospace;
  font-size: .85em;
}

blockquote {
	font-style: italic;
}

.footnotes {
  font-size: .82em;
  
  li {
    margin: 1em 0px;
  } 
}
