#project-grid {
  margin: 0;
  width: 100%;

  a {
    border-bottom: 0;
    color: inherit;
  }
}

.project-grid-entry {
  float: left;

  width: 50%;
  height: 25em;

  text-align: center;

  @media handheld, only screen and (max-width: 640px) {
    width: 100%;
  }

  &.odd-last {
    width: 100%;
  }

  > * {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 92%;
  }

  h1 {
    margin: 0;
  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
}

.vertical-align-wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 0;
}

.project-meta-links {
  > ul {
    padding: 0;
    list-style: none;  

    > li {
      display: inline-block;
      padding-left: 10px;

      &:first-child {
        padding: 0;
      }
    }
  }
}

// The following is project specific styling

.project-symsteam {
  background-color: #f8981e;
}

.project-appcastr {
  background-color: #062567;
  color: #ffffff;
}

.project-simplecalc {
  background-color: #104d25;
  color: #ffffff;
}

.project-memtester {
  background-color: #91cd26;
}

.project-geographyas {
  background-color: #262626;
  color: #ffffff;
}
