#project-title {
  width: 100%;
  
  > h1:last-child,
  > h2:last-child {
    padding-bottom: 0.5em;
  }
}

.image-carousel-thing {
  overflow-x: scroll;
  overflow-y: hidden !important;
  -webkit-overflow-scrolling: touch;

  width: 100%;
  height: 300px;

  text-align: center;
  white-space: nowrap;

  > .image-container {
    display: inline-block;
    width: 100%;

    > img {
      transition: all 350ms ease-in-out;
      z-index: 200;

      width: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
