#project-title {
  width: 100%;
  
  > h1:last-child,
  > h2:last-child {
    padding-bottom: 0.5em;
  }
}

$image-max-height: ($max-content-width * 0.75);

.image-carousel-thing {
  position: relative;
  width: 100%;
  max-height: $image-max-height;

  text-align: center;
  white-space: nowrap;

  overflow: hidden;

  #next-screenshot,
  #prev-screenshot {
    transition: opacity 300ms ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;

    width: 10%;
    background: rgba(0, 0, 0, 0.25);
    border: 0;
    z-index: 99;

    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 3rem;
    font-weight: 200;

    color: white;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  #next-screenshot {
    right: 0;
  }

  #prev-screenshot {
    left: 0;
  }

  > .image-container {
    display: inline-block;
    transition: transform 300ms ease-in-out;

    width: 100%;
    max-height: $image-max-height;

    > img {
      display: block;
      margin: 0 auto;

      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
}
