#project-title {
  width: 100%;
  
  > h1:last-child,
  > h2:last-child {
    padding-bottom: 0.5em;
  }
}

$image-max-height: ($max-content-width * 0.75);

.image-carousel-thing {
  position: relative;
  width: 100%;
  max-height: $image-max-height;

  text-align: center;
  white-space: nowrap;

  overflow: hidden;

  > .image-container {
    display: inline-block;
    transition: transform 450ms ease-in-out;

    width: 100%;
    max-height: $image-max-height;

    > img {
      display: block;
      margin: 0 auto;

      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
}

.image-gallery-indicator-container {
  position: absolute;
  bottom: 0;
  z-index: 98;

  background: rgba(0, 0, 0, 0.25);

  width: 100%;
  height: 5%;

  text-align: center;

  > .image-gallery-indicator {
    display: inline-block;
    position: relative;

    transition: background 300ms ease-in-out;

    border: 1px solid #ffffff;
    border-radius: 50%;
    background: transparent;

    width: 10px;
    height: 10px;
  }

  .active {
    background: #ffffff;
  }
}

.gallery-button {
  position: absolute;
  top: 0;
  transition: opacity 300ms ease-in-out;
  z-index: 99;
  outline: 0;

  border: 0;
  background: rgba(0, 0, 0, 0.25);

  width: 10%;
  height: 95%;

  text-align: center;

  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 3rem;
  font-weight: 200;

  color: #ffffff;
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  &:active {
    outline: 0;
  }
}

#next-image-button {
  right: 0;
}

#prev-image-button {
  left: 0;
}
