<footer id="site-footer">
  <p>About &bull; Twitter &bull; RSS</p>
  <p>&copy; 2012-2014 Alex Jackson.</p>
</footer>  

<script>
(function(e,t,n,r,i,s,o){e["GoogleAnalyticsObject"]=i;e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date;s=t.createElement(n),o=t.getElementsByTagName(n)[0];s.async=1;s.src=r;o.parentNode.insertBefore(s,o)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-29192170-1","alexj.org");ga("send","pageview")
</script>

<!--TODO: Incorporate this script into page-utils.js-->
<script type="text/javascript">
  (function() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = '/js/vendor/headroom.js';
    script.async = 'true';
    script.onload = script.onreadystatechange = function() {
      var readyState = this.readyState;
      if (readyState && readyState != 'complete' && readyState != 'loaded') return;
      try {
        var siteHeader = document.getElementById("site-header");
        var headroom = new Headroom(siteHeader, {offset:70, tolerance: 10});
        headroom.init();
      } catch (e) {};
    };
    document.body.appendChild(script);
  })();
</script>

{{ if .Params.syntax_highlighting }}
  <script type="text/javascript">
  (function() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = '/js/vendor/highlight.pack.js';
    script.async = 'true';
    script.onload = script.onreadystatechange = function() {
      var readyState = this.readyState;
      if (readyState && readyState != 'complete' && readyState != 'loaded') return;
      try {
        hljs.initHighlightingOnLoad();
      } catch (e) {};
    };
    document.body.appendChild(script);
  })();
  </script>
{{ end }}

{{ if .Params.math }}
  <script type="text/javascript">
  (function() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML';
    script.async= 'true';
    document.body.appendChild(script);
  })();
  </script>
{{ end }}
