<!----*- engine:go -*--->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Alex Jackson">

  <!-- Groovy Stylesheets -->
  <link href="/css/main.css" rel="stylesheet" type="text/css">

  <!-- A link to the RSS feed -->
  <link href="http://feedpress.me/alexjohnj/" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />
  <link rel="canonical" href="http://alexj.org" />

  <!-- Google Webmaster Verification-->
  <meta name="google-site-verification" content="wfHLjqY4iUR4MRo2m6nyIRXRXSv0j-vFn8ZjLbYVqao" />

  <!--Get Typekit-->
  <script src="//use.typekit.net/inn4hms.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>

  {{ template "partials/async-scripts.html" . }}
