<div id="offscreen-nav">
  <button id="close-nav-button"><span class="icon-close"></span></button>
  <nav id="main-navigation">
    <ul>
      <li><a href="/post/">Posts</a></li>
      <li><a href="/projects/">Projects</a></li>
    </ul>
  </nav>
</div>

<header id="site-header">
  <div class="site-header-content">
    <button id="hamburger-button">
      <span class="hamburger-slice"></span>
      <span class="hamburger-slice"></span>
      <span class="hamburger-slice"></span>
    </button>
    <h1><a href="/">{{ .Site.Title }}</a></h1>
  </div>
</header>

<div id="debug-menu" class="paper-card">
  <h4>Debug Links</h4>
  <p><a href="/08/test-page/">Test Page</a> &bullet; <a href="/post/">Posts List</a> &bullet; <a href="/projects/">Projects List</a></p>
</div>
