<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Alex Jackson">

  <!-- Groovy Stylesheets -->
  <link href="/css/main.min.css" rel="stylesheet" type="text/css">

  <!-- Get the beautiful Merriweather Sans & Inconsolata fonts -->
  <link href='http://fonts.googleapis.com/css?family=Inconsolata|Merriweather+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

  <!-- A link to the RSS feed -->
  <link href="http://feeds.uri.lv/alexjohnj" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />

  <!-- Google Webmaster Verification-->
  <meta name="google-site-verification" content="wfHLjqY4iUR4MRo2m6nyIRXRXSv0j-vFn8ZjLbYVqao" />
</head>
