<!----*- engine:go -*--->
<!DOCTYPE html>
{{ template "partials/head.html" . }}

{{ template "partials/header.html" . }}
{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
<main>
  {{range $paginator.Pages }}
    <article class="article-excerpt">
      <header class="article-header">
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <p><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">ON {{ upper (.Date.Format "January 2, 2006") }}</time></p>
      </header>
      {{ .Summary }}
      {{ if .Truncated }}
        <p><a href="{{ .Permalink }}">Read More&hellip;</a></p>
      {{ end }}
    </article>
  {{ end }}
  <div class="page-controls">
    {{ if .Paginator.HasNext }}
      <div class="previous-post">
        <a href="{{ .Paginator.Next.URL}}">&laquo; Older</a>
      </div>
    {{ end }}
    {{ if .Paginator.HasPrev }}
      <div class="next-post">
        <a href="{{ .Paginator.Prev.URL }}">Newer &raquo;</a>
      </div>
    {{ end }}
  </div>
</main>
{{ template "partials/footer.html" . }}
</html>
