// Dimensions
$content-max-width: 624px;

// Fonts
$font-stack: "Cabin", "Gill Sans", "Arial", sans-serif;
$font-normal: 400;
$font-heavy: 700;

// Colours
$medium-purple: #7d61d7;
$lavender: #e5dff7;
$perano: #b1a0e7;
$dark-slate-blue: #4b3a81;
$violent-violet: #261d41;
$charcoal: #4a4a4a;
$grey: #828282;
