// Dimensions
$content-max-width: 624px;

// Fonts
$font-stack: "Avenir Next", "Avenir", "Arial", sans-serif;
$mono-font-stack: "Consolas", "Inconsolas", monospace;
$font-normal: 400;
$font-medium: 600;
$font-heavy: 700;

// Accent Colours
$accent-color: #8d74db;
$accent-selected-color: #4b3a81;
$accent-highlight-color: #bfb1eb;

// Text Colours
$text-body-color: #000000; // Main text colour
$aside-text-color: #828282; // Colour for aside text (e.g., article subheader).
$filled-bg-text-color: #ffffff; // Contrasting colour for text on a filled background.
