body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin: 0 auto;
  padding: 0 0 vr(1);
  width: 92%;
  max-width: $content-max-width;
  flex: 1;

  @media all and (min-width: 640px) {
    padding: 0 0 vr(3);
    width: 95%;
  }

  @media all and (min-width: 1200px) {
    width: 100%;
  }
}

.site-header {
  display: flex;
  margin: vr(1) auto 0;
  width: 92%;
  max-width: 1200px;
  align-items: baseline;

  h1 {
    flex-shrink: 0;

    a {
      text-decoration: none;
      color: $dark-slate-blue;
    }
  }

  nav {
    flex-grow: 1;

    @media all and (min-width: 640px) {
      text-align: right;
    }
  }

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    padding-left: vr(1);
    text-transform: uppercase;
  }
}

.site-footer {
  background-color: $medium-purple;
  width: 100%;
  text-align: center;
  color: $white;

  p {
    margin: vr(1) 0;
  }

  a {
    text-decoration: none;
    color: $white;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline-block;

  }

  li + li::before {
    padding: 0 3px;
    content: "\2022";
  }
}

// Home Page

.article-excerpt {
  padding: 0 0 vr(2);
}

.pagination-controls {
  display: flex;
  width: 100%;

  div {
    width: 50%;
  }
}

// Articles

.article-header {
  @media all and (min-width: 640px) {
    padding: 0 0 vr(1);
  }

  p {
    color: $grey;
  }
}

.footnotes {
  padding:0 0 vr(1);
}

.page-controls {
  display: flex;
  width: 100%;

  p {
    margin: 0;
  }
}

.next-post,
.previous-post {
  width: 50%;
}

.next-post {
  text-align: right;
}

// Archive

.archive-grouping {
  padding: 0 0 vr(1);

  &:last-child {
    padding: 0;
  }
}

// Projects Page
.project-entry {
  padding: 0 0 vr(2);

  &:last-child {
    padding: 0;
  }
}

.project-links {
  width: 100%;
  text-align: center;
}

// Elements

img {
  margin: vr(2) 0;
  max-width: 100%;
}

pre {
  margin: 0 0 vr(1);
  padding: vr(1) vr(1) / 2;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  margin: 0 auto vr(1);
  width: 100%;
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid $dark-slate-blue;
  background-color: $perano;
  padding: vr(1) * 0.7 vr(1) * 0.5;

  color: $white;
  font-weight: $font-heavy;
}

tr:nth-child(even) {
  background-color: $lavender;
}

tr:last-child {
  border-bottom: 1px solid $dark-slate-blue;
}


td {
  padding: vr(1) / 2;
}
