body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin: 0 auto;
  padding: 0 0 vr(1);
  width: 92%;
  max-width: $content-max-width;
  flex: 1;

  @media all and (min-width: 640px) {
    padding: 0 0 vr(3);
    width: 95%;
  }

  @media all and (min-width: 1200px) {
    width: 100%;
  }
}

.site-header {
  display: flex;
  margin: 0 auto;
  width: 92%;
  align-items: baseline;

  @media all and (min-width: 640px) {
    margin: vr(1) 0 0 vr(1);
  }

  h1 {
    flex-shrink: 0;

    a {
      text-decoration: none;
      color: $dark-slate-blue;
    }
  }

  nav {
    text-align: right;
    flex-grow: 1;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    padding-left: vr(1);
    text-transform: uppercase;
  }
}

.site-footer {
  background-color: $medium-purple;
  width: 100%;
  text-align: center;
  color: $white;

  p {
    margin: vr(1) 0;
  }

  a {
    text-decoration: none;
    color: $white;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline-block;

  }

  li + li::before {
    padding: 0 3px;
    content: "\2022";
  }
}

.article-header {
  @media all and (min-width: 640px) {
    padding: 0 0 vr(1);
  }

  p {
    color: $grey;
  }
}

.article-footer {
  width: 100%;

  p {
    margin: 0;
  }
}

.next-post {
  width: 45%;
  float: right;
  text-align: right;
}

.previous-post {
  width: 45%;
  float: left;
}

img {
  margin: vr(2) 0;
  max-width: 100%;
}
