$breakpoints: (
  small: 640px,
  large: 1200px
);

$typi: (
  null: (16px, 1.5),
);

$typi-ms: (
  null: $fourth,
  small: $fifth,
  large: $golden
);

$typi-h1: (null: 2);
$typi-h2: (null: 1);
$typi-h3: (null: 0);

html {
  @include typi-base();
  text-rendering: optimizeLegibility;
  font-family: $font-stack;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 vr(1);
  font-weight: $font-heavy;
}

h1 {
  @include typi($typi-h1);
}

h2 {
  @include typi($typi-h2);
}

h3 {
  @include typi($typi-h3);
}

p {
  margin: 0 0 vr(1);
}

ul {
  margin: 0 0 vr(1);
}
