$breakpoints: (
  small: 640px,
  large: 1200px
);

$typi: (
  null: (16px, 1.5),
  large: (18px),
);

$typi-ms: (
  null: $fourth,
  small: $fifth,
  large: $golden
);

html {
  @include typi-base();
  text-rendering: optimizeLegibility;
  color: $charcoal;
  font-family: $font-stack;
}

::selection {
  background-color: $lavender;
}

a::selection {
  color: $dark-slate-blue;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 vr(1);
  font-weight: $font-heavy;
}

h1 {
  line-height: 1.2;
}

p {
  margin: 0 0 vr(1);
}

a {
  color: $perano;
  font-weight: $font-heavy;

  &:hover {
    color: $dark-slate-blue;
  }
}

pre,
code {
  font-family: $mono-font-stack;
  font-size: 0.90rem;
}

ol,
ul {
  margin: 0 0 vr(1);
}

.project-version {
  color: $grey;
  font-size: 1rem;
}

.four-oh-four-container {
  width: 100%;
  text-align: center;
}
