<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Hello World!</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- 1140 Grid System for Satan, I mean, IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/styles/css/ie.css" type="text/css" media="screen" /><![endif]-->

	<!-- 1140 Grid System -->
	<link rel="stylesheet" type="text/css" href="assets/styles/css/styles.css" media="screen">

	<!-- Some crazy JavaScript for enabling media queries on older browsers. I _so_ did not write this -->
	<script type="text/javascript" src="assets/js/css3-mediaqueries.min.js"></script>

</head>

<body>

	{{ content }}

</body>

</html>