<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Hello World!</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- 1140 Grid System for Satan, I mean, IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="/assets/styles/css/ie.css" type="text/css" media="screen" /><![endif]-->

	<!-- 1140 Grid System -->
	<link rel="stylesheet" type="text/css" href="/assets/styles/css/styles.css" media="screen">

	<!-- Some crazy JavaScript for enabling media queries on older browsers. I _so_ did not write this -->
	<script type="text/javascript" src="/assets/js/css3-mediaqueries.min.js"></script>

	<!--This makes even more shit "work" with Internet Explorer-->
	<!--[if !IE 7]><style type="text/css">#wrap {display:table;height:100%}</style><![endif]-->


</head>
<body>
	<div class="wrap">
		<div class="container header">
			<div class="row">

				<div class="twelvecol last">
					<div class="site-header">
						<h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
					</div>
					<div class="site-navigation">
						<nav>
							<ul>
								<li><a href="{{ site.baseurl }}">Home</a></li>
								<li>About</li>
							</ul>
						</nav>
					</div>
				</div>

			</div> <!--end row -->
		</div> <!--end container header-->

		<div class="container main">
			<div class="row">

				<div class="twelvecol last">
					<article>
						{{ content }}
					</article>
				</div>

			</div><!--end row-->
		</div><!--end container main -->
	</div><!--end wrap-->

	<footer>
		<div class="container">
			<div class="row">
				<div class="twocol">
					<p>By Alex Jackson</p>
				</div>
				<div class="threecol last">
					<nav>
						<h5>Links</h5>
						<ul>
							<li>Home</li>
							<li>About</li>
						</ul>
					</nav>
				</div> <!--end threecol last-->
			</div> <!--end row-->
		</div><!--end container-->
	</footer>
</body>
</html>