<!----*- engine:go -*--->
<!DOCTYPE html>
{{ template "partials/head.html" . }}

{{ template "partials/header.html" . }}
<main>
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  {{ range .Data.Pages.ByTitle }}
    <section class="project-entry">
      <h2>{{ .Title }}&nbsp;<small class="project-version">{{ .Params.version }}</small></h2>
      <p>{{ .Summary }}</p>
      <div class="project-links">
        {{ if .Params.web_url }}
          <a href="{{ .Params.web_url }}">Visit</a>
          &nbsp;
        {{ end }}
        {{ if .Params.dl_url }}
          <a href="{{ .Params.dl_url }}">Download</a>
          &nbsp;
        {{ end }}
        {{ if .Params.source_url }}
          <a href="{{ .Params.source_url }}">Source</a>
        {{ end }}
      </div>
    </section>
  {{ end }}
</main>

{{ template "partials/footer.html" . }}
</html>
